@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
html, body{
    width: 100%;
    font-family: 'Grape Nuts', cursive;
    font-size: larger;
}
body{
    margin: 0;
    background: url("../images/sojuLogin.jpg") no-repeat center fixed;
    background-size: cover;}
#login{
    color: whitesmoke;
}
#signUp{
    color: red;
}
#headerMessage{
    box-sizing: border-box;
    color:  rgb(125, 117, 115);
    background-color: #262626;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
#boba-logo{
    border-radius: 50%;
    color: red;
}
.navbar {
    background-color: #3F3F3F;
    opacity: 0.85
}
.text{
    text-align: center;
    color: white;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-login{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-register{
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-mask-product{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;
    z-index: -1;
}
.video-mask-login{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;
    z-index: -1;
    width: 30%;
    height: 141%;
}
.video-mask-register{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    overflow: hidden;
    z-index: -1;
    width: 30%;
    height: 100%;
}
footer{
    background-color: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: whitesmoke;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: whitesmoke;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: red;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}